body {
    width: 1000px;
    margin: 50px auto;
    /* border: 1px solid #000000; */
}

#picturesHere {
    display: flex;
    justify-content: space-between;
}

img {
    cursor: pointer;
}

p {
    font-size: 18pt;
    text-align: center;
    color: blue;
}

a {
    text-decoration: none;
}